:root {
    --animate-duration: 1.3s;
    --animation-delay: 0.9s;
  }

  .h-75vh
  {
      height: 75vh !important;
  } 

  .shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.parallax {
    /* 6D07E6  */
    /* background-image: linear-gradient(120deg, rgba(80, 0, 209, 0.8) 30%, rgba(80, 0, 209, 0.4)  50%) !important; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.card-image {
    max-width: 300px !important;
    min-width: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.animation-duration-3 {
    animation-duration: 3s;
}
.animation-duration-2 {
    animation-duration: 2s;
}
.animation-duration-1 {
    animation-duration: 1s;
}

.animation-delay-0 {
    animation-delay: 0s;
}
.animation-delay-1 {
    animation-delay: 1s;
}
.animation-delay-2 {
    animation-delay: 2s;
}

.animation-delay-3 {
    animation-delay: 3s;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
    }
    0% {
        transform: scale(1.5);
    }
  }

#question {
    animation:
    stretch
    1s
    ease-out
    0s
    alternate
    infinite
    none
    running
}

.app-store {
    max-height:50px;
    max-width: 150px;
    min-width: 140px;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

  @media (min-width: 1000px){
    #mobile {
        left:34vw;
        position: absolute;
        z-index: 0;
        width: 30vw;
        bottom: -26vw;
    }
    #placeholder {
        height: 35vw;
    }
  }
  @media (max-width: 1000px){
  #mobile {
      left:24vw;
      position: absolute;
      z-index: 0;
      width: 50vw;
      bottom: -45vw;
  }
  #placeholder {
      height: 60vw;
  }

  }
  .coolborder {
      border: 1px solid beige;
  }